In [34]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [66]:
dfx = pd.read_csv("Diabetes_XTrain.csv")
dfy = pd.read_csv("Diabetes_YTrain.csv")

In [67]:
dfx.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23

In [68]:
dfy.head()

   Outcome
0        1
1        0
2        1
3        1
4        0

In [89]:
X=dfx
Y=dfy.values
Y= Y.reshape(-1,)

In [425]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=2)

In [450]:
knn = KNeighborsClassifier(n_neighbors=71, metric='euclidean')
knn.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
                     metric_params=None, n_jobs=None, n_neighbors=71, p=2,
                     weights='uniform')

In [451]:
Y_pred = knn.predict(X_test)

In [452]:
confusion_matrix(Y_test, Y_pred)

array([[121,   5],
       [ 39,  26]], dtype=int64)

In [453]:
acc = accuracy_score(Y_test, Y_pred)
acc*100

76.96335078534031